<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script src="lib/underscore.js"></script>
</head>
<body>
    <div id="myd"></div>

    <script type="text/my-template" id="tpl1">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= title %></h5>
            <p class="card-text"><%= desc %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </script>

    <script>
    var myd = document.getElementById('myd');
    var tpl1 = document.getElementById('tpl1').innerText;
    var tpl1_f = _.template(tpl1);
    
    console.log(tpl1);


    myd.innerHTML += tpl1_f({title:"抬頭1", desc:"內容一"});
    myd.innerHTML += tpl1_f({ title: "抬頭2", desc: "內容2" });
    </script>

</body>
</html>